:root {
  --clr-main: #e4c3bd;
  --clr-main-hard: #d3a096;
  --clr-main-dark: #8e5347;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #d30505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* INDEX */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--clr-main);
}
aside {
  padding: 60px;
  padding-right: 0;
  color: var(--clr-white);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  font-weight: 400;
  font-size: 40px;
  color: var(--clr-main-dark);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.b-menu {
  background-color: transparent;
  border: 0;
  color: var(--clr-main-dark);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  padding: 15px;
}
.b-menu.active {
  background-color: var(--clr-main-hard);
  color: var(--clr-main-dark);
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.b-carrito {
  margin-top: 20px;
}
main {
  background-color: var(--clr-main-hard);
  margin: 20px;
  margin-left: 0;
  border-radius: 30px;
  padding: 30px;
}
.c-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.producto-img {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  border-radius: 20px;
  transition: all 0.5s;
}
.producto-img:hover {
  transform: scale(1.1);
}
.t-principal {
  margin-bottom: 30px;
  color: var(--clr-main-dark);
}
.t-footer {
  color: var(--clr-main-dark);
  font-size: 20px;
}
.producto-det {
  background-color: var(--clr-main);
  color: var(--clr-white);
  padding: 10px;
  border-radius: 20px;
  margin-top: -15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.producto-titulo {
  font-size: 25px;
}
.producto-agregar {
  border: 0;
  background-color: var(--clr-white);
  color: var(--clr-main-dark);
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
  background-color: var(--clr-main);
  color: var(--clr-main-hard);
}
/* INDEX */
/* CARRITO */
.c-carrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.c-vacio, .c-comprado {
  color: var(--clr-main-dark);
  font-size: 25px;
}
.c-productos-carrito {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c-producto-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-main-dark);
  padding: 10px;
  padding-right: 70px;
  border-radius: 20px;
}
.c-producto-img {
  width: 150px;
  border-radius: 20px;
}
.c-producto small {
  font-size: 15px;
}
.c-prod-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}
.c-acciones {
  display: flex;
  justify-content: space-between;
}
.c-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 10px;
  border-radius: 20px;
  color: var(--clr-main-dark);
  text-transform: uppercase;
  cursor: pointer;
}
.c-acciones-comprar {
  border: 0;
  background-color: var(--clr-main-dark);
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}
.c-acciones-der {
  display: flex;
}
.c-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--clr-main-dark);
  text-transform: uppercase;
  cursor: pointer;
}
.disabled {
  display: none;
}
/* CARRITO */
/* FOOTER */
footer {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    background-color: var(--clr-main);
  }
  
  .barraf ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
  }
  
  .redes a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 15px;
  }
  
  .subir {
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
  }
  /* FOOTER */